/* import starts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* import ends */

/* variables */
:root{
    --danger: #fe504f;
    --dark: #443c20;
	--background: #fff7f5;
    }
/* variables */


/* reset css starts*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset css ends*/

/* general styling---------- */
body{
	font-family: 'Poppins', sans-serif;
	color: var(--dark) !important;
}
.txt-dngr{
	color: var(--danger);
}
.mybtn{
	background-color: var(--danger);
	padding: .8rem 2rem;
	border-radius: .5rem;
	width: fit-content;
	border: 1px solid white;
	
}
.mybtn-dark{
	background-color: var(--dark);
	border: 1px solid transparent;	
}
section{
	margin: 0 0 10rem 0;
}









/* navigation starts------------ */


.logo a{
	color: var(--dark);
	text-decoration: none;
	font-size: 2rem;
}
.logo a span{
	font-weight: bold;
}



.nav-itms a{ 
	color: white;
	text-decoration: none;	
	transition: all 500ms ease;
}
.nav-itms a:hover{
	color: #bdbdbd;
}
/* navigation ends----------- */

/* hero starts-------------- */

.bnnr::after{
	content: "";
	width: 55%;
	height: 70vh;
	background: var(--danger);
	border-radius: 5% 0% 15% 85% / 20% 0% 15% 80% ;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	
}
.container-fluid{
	height: 100vh;
}
.hero-txt p:first-child{
	font-size: 3rem;
}
.hero-txt p:nth-child(2){
	font-weight: 300;
}


/* hero ends============== */

.feature i{
	color: var(--danger);
	font-size: 4rem;
}


.tips i{
	color: var(--danger);
}


.light-bg{
	background-color:antiquewhite;
	border-radius: 0% 0% 50% 50% / 85% 0% 16% 15% ;
}


.carousel-itm img{
	width: 20%;
}
